body{
	background-color: blue;
	
}
header{
	float: right;
	text-transform: uppercase;
	font-family: monospace;
	font-size: 200%;
	
}
li{
	display: inline-block;
}
a{
	border-style: solid;
	border-color: black;
	color: white;
}

footer{
	
	font-family: monospace;
	font-size: 200%;
	border-style: solid;
	border-color: black;
	color: white;
}
img{
	position: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}